<div class="row">
<div class="col-sm-12"  data-ng-controller="formController">
      <div class="page-header text-center">
          <h4>
          <div id="status-buttons" data-ng-controller="groupController">
              <a ng-repeat="group in championship.groups" ui-sref-active="active" ui-sref=".group({group:group.id})"> Grupo {{group.id}}</a>
          </div>
          </h4>
<!--           <div id="status-buttons" class="text-center">
              <a ui-sref-active="active" ui-sref=".profile"><span>1</span> Profile</a>
              <a ui-sref-active="active" ui-sref=".interests"><span>2</span> Interests</a>
              <a ui-sref-active="active" ui-sref=".payment"><span>3</span> Payment</a>
          </div> -->
      </div>    
      <form id="signup-form" ng-submit="processForm()" class="f16 col-sm-12" >
        <div class="page-header">
          <div id="form-views" ui-view="fase1" class="f16 col-sm-4"></div>
          <div class="col-sm-4">
            <div ui-view="classification" data-ng-controller="classificationController" class="f16"></div>
          </div>
        </div>
        <div ng-include="'public/system/views/rounds.html'"  class="col-sm-12" ></div>
        <div class="text-center col-sm-12">
            <button type="submit" class="btn btn-danger">Submit</button>
        </div>
      </form>

  
  <!-- show our formData as it is being typed -->
  <pre>
    {{ formData }}
  </pre>

</div>
</div>
