<h4>OCTAVOS</h4>
<ul>
    <li ng-repeat="match in matches">
    <div class="btn-group" data-toggle="buttons">
      <label ng-class="{'btn': true, 'btn-primary': true,'active': match.winner.name=='{{match.teamA.name}}'}">
        <input type="radio" ng-model="match.winner.name" id="{{match.teamA.name}}" value="{{match.teamA.name}}" ng-change="handleWinA(match)">
        <div class="flag {{match.teamA.flag}}"></div>{{match.teamA.name}}</input>
      </label>
      <label ng-class="{'btn': true, 'btn-primary': true,'active': match.winner.name==='{{match.teamB.name}}'}">
        <input type="radio" ng-model="match.winner.name" id="{{match.teamB.name}}" value="{{match.teamB.name}}" ng-change="handleWinB(match)">
        <div class="flag {{match.teamB.flag}}"></div>{{match.teamB.name}}</input>
      </label>
    </div>      
    </li>
</ul>
